[submodule "CastleMonster"]
	path = CastleMonster
	url = git@github.com:unitpoint/CastleMonster-bin-win.git 
[submodule "eXeXeXeX"]
	path = eXeXeXeX
	url = git@github.com:unitpoint/eXeXeXeX-bin-win.git
[submodule "eXeXeXeX-apk"]
	path = eXeXeXeX-apk
	url = git@github.com:unitpoint/eXeXeXeX-apk.git
